alphafold/
alphafold2/outputs/
pMHCI_binder_design/
dl_binder_design/
proteinmpnn/outputs/
proteinmpnn/test/
rfdiffusion/outputs/
rfdiffusion/slurm/
silent_tools/
rfdiffusion/scripts/outputs/
rfdiffusion/scripts/.ipynb_checkpoints/
proteinmpnn/scripts/.ipynb_checkpoints/
proteinmpnn/input/kras/*.jsonl
af_init_guess/inputs/
af_init_guess/outputs/
af_init_guess/logs/
af_init_guess/scripts/tmp_*.silent
af_init_guess/scripts/tmp_*.silent.idx
af_init_guess/scripts/tmp_*.list
af_init_guess/scripts/check.point
af_init_guess/scripts/check.point.old
af_init_guess/scripts/example.check.point
envs/af2_init_guess/
envs/af2_binder_design/
af_init_guess/scripts/.ipynb_checkpoints/
af_init_guess/scripts/__pycache__/

proteinmpnn/scripts/test_protein_mpnn_partial_colab_notebook.ipynb
rfdiffusion/scripts/backbone_clusters.csv
rfdiffusion/scripts/clustering_summary_by_bin.png
rfdiffusion/scripts/peptide_sasa_distribution.png
rfdiffusion/scripts/peptide_sasa_scores.csv
rfdiffusion/scripts/representatives.txt
rfdiffusion/scripts/rmsd_matrix_bin_50-64.npy
rfdiffusion/scripts/rmsd_matrix_bin_65-79.npy
rfdiffusion/scripts/rmsd_matrix_bin_80-94.npy
rfdiffusion/scripts/rmsd_matrix_bin_95-109.npy
